@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  min-width: 300px;
  margin: 0;
}
.p-inputwrapper, .p-password, .p-dropdown, .p-calendar {
  border: 2px solid #B4BAC5 ; 
  border-radius: 8px; 
  transition: border-color 0.3s ease-in-out; 
}

.p-inputwrapper:focus-within, 
.p-password:focus-within, 
.p-dropdown:focus-within, 
.p-calendar:focus-within {
  border-color: #7505E0;
}

/* .p-inputwrapper, .p-password, .p-dropdown, .p-calendar, .p-inputtext {
  border: 2px solid #B4BAC5 !important;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
} */

.p-inputwrapper:focus-within, 
.p-password:focus-within, 
.p-dropdown:focus-within, 
.p-calendar:focus-within, 
.p-inputtext:focus-within {
  border-color: #7505E0;
}

.p-password-input, 
/* .p-inputtext,  */
.p-dropdown-input, 
.p-calendar input {
  color: #333333;
  /* border: none; */
  /* outline: none; */
  /* padding: 8px 12px;  */
  font-size: 14px; 
}


.p-password-input:focus, 
.p-inputtext:focus, 
.p-dropdown-input:focus, 
.p-calendar input:focus {
  border-color: #7505E0; 
  box-shadow: 0 0 0 2px rgba(117, 5, 224, 0.3); 
}


.p-dropdown {
  background-color: #ffffff; 
}


.p-calendar .p-datepicker {
  background-color: #ffffff; 
}


.p-inputtext:focus + .p-float-label, 
.p-password-input:focus + .p-float-label, 

 .p-calendar:hover{
  color: #7505E0 !important; 
}




.p-inputtext::placeholder, 
.p-password-input::placeholder, 
.p-dropdown-input::placeholder, 
.p-calendar input::placeholder {
  color: #B4BAC5; 
}

.p-dropdown-label {
  border: none; 
  height: 100%; 
  display: flex;
  align-items: center;
  size: 16px;
  font-weight: 400;
}
.p-checkbox .p-checkbox-box {
  border: 2px solid #B4BAC5;
  background-color: #b4bac5b1 !important;
}

.p-slider-handle {
  border: 2px solid #B4BAC5;
}